/*
Author: Abrorjon Asralov
File: index.css
Description: This is a file for styling purposes of a login page
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #081b29;
}

#wraper {
  position:relative;
  width: 450px;
  height: 450px;
  background: transparent;
  border: 2px solid #0ef;
  overflow: hidden;
  box-shadow: 0 0 25px #0ef;
}

#wraper #form-box{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 0 60px 0 40px;
}

#form-box h2 {
  color: #fff;
  font-size: 32px;
  text-align: center;
}

#form-box #input-box-username, #form-box #input-box-password {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

#input-box-username input, #input-box-password input{
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  transition: .5s;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding-right: 23px;
}

#input-box-username input:focus,
#input-box-username input:valid,
#input-box-password input:focus,
#input-box-password input:valid{
  border-bottom-color: #0ef;
}

#input-box-username label, #input-box-password label, #input-box-username i, #input-box-password i{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

#input-box-username i, #input-box-password i{
  right: 0 !important;
  font-size: 18px !important;
  left: auto;
  transition: .5s;
}

#input-box-username input:focus~i,
#input-box-username input:valid~i,
#input-box-password input:focus~i,
#input-box-password input:valid~i{
  color: #0ef;
}

#input-box-username input:focus~label,
#input-box-username input:valid~label,
#input-box-password input:focus~label,
#input-box-password input:valid~label{
  top: -5px;
  color: #0ef;
}



#btn{
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid #0ef;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  z-index: 1;
}

#btn::before{
  content: '';
  position: absolute;
  width: 100%;
  top: -100%;
  left: 0;
  height: 300%;
  background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
  transition: .5s;
  z-index: -1;
}

#btn:hover::before{
  top: 0;
}

#form-box #logreg-link{
  font-size: 14.5px;
  color: #fff;
  text-align: center;
  margin: 20px 0 10px;
}

#reg-link{
  border: none;
  color: #0ef;
  background: transparent;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}

#reg-link:hover{
  text-decoration: underline;
}

#wraper #info-text{
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  padding: 0 40px 60px 150px;
}

#info-text h2{
  font-size: 36px;
  color:#fff;
  text-transform: uppercase;
  line-height: 1.3;
}

#bg-animate{
  position: absolute;
  top:-4px;
  right: 0;
  width: 850px;
  height: 600px;
  background: linear-gradient(45deg, #081b29, #0ef);
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  border-bottom: 3px solid #0ef;
}

