@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

hr {
  height: 5px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
}
#mail {
  padding: 1% 2%;
  border: none;
  border-radius: 10px 0 0 10px;
  color: #000;
}

#subbtn {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 1% 2%;
  transition: 0.5s;
}

#subbtn:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
  .bxs-bell-ring {
    transition: 0.5s;
    color: black;
  }
}

.container {
  margin-top: 3%;
  position: relative;
  font-size: 0.8rem;
  width: 60%;
  left: 15%;
  line-height: 2.7;
  padding: 2% 5%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100px 100px 100px 100px;
  text-shadow: 0 0 5px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #7585a3;
  overflow: hidden;
}
.background li {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #697792;
  color: transparent;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 18s ease-in forwards infinite;
}
undefined .background li:nth-child(0) {
  animation-delay: 0s;
  left: 78vw;
  top: 17vh;
  border-color: #8092b3;
}

.background li:nth-child(1) {
  animation-delay: 2s;
  left: 61vw;
  top: 21vh;
  border-color: #8092b3;
}

.background li:nth-child(2) {
  animation-delay: 4s;
  left: 67vw;
  top: 7vh;
}

.background li:nth-child(3) {
  animation-delay: 6s;
  left: 9vw;
  top: 83vh;
}

.background li:nth-child(4) {
  animation-delay: 8s;
  left: 19vw;
  top: 76vh;
  border-color: #8092b3;
}

.background li:nth-child(5) {
  animation-delay: 10s;
  left: 47vw;
  top: 97vh;
  border-color: #8092b3;
}

.background li:nth-child(6) {
  animation-delay: 12s;
  left: 38vw;
  top: 69vh;
}

.background li:nth-child(7) {
  animation-delay: 14s;
  left: 44vw;
  top: 49vh;
  border-color: #8092b3;
}

.background li:nth-child(8) {
  animation-delay: 16s;
  left: 77vw;
  top: 81vh;
}

.background li:nth-child(9) {
  animation-delay: 18s;
  left: 28vw;
  top: 15vh;
}

.background li:nth-child(10) {
  animation-delay: 20s;
  left: 31vw;
  top: 37vh;
}

.background li:nth-child(11) {
  animation-delay: 22s;
  left: 83vw;
  top: 43vh;
  border-color: #8092b3;
}

.background li:nth-child(12) {
  animation-delay: 24s;
  left: 88vw;
  top: 11vh;
}

.background li:nth-child(13) {
  animation-delay: 26s;
  left: 51vw;
  top: 26vh;
}

.background li:nth-child(14) {
  animation-delay: 28s;
  left: 20vw;
  top: 22vh;
}

.background li:nth-child(15) {
  animation-delay: 30s;
  left: 14vw;
  top: 86vh;
  border-color: #8092b3;
}

.background li:nth-child(16) {
  animation-delay: 32s;
  left: 25vw;
  top: 78vh;
  border-color: #8092b3;
}

.background li:nth-child(17) {
  animation-delay: 34s;
  left: 53vw;
  top: 56vh;
  border-color: #8092b3;
}

.background li:nth-child(18) {
  animation-delay: 36s;
  left: 34vw;
  top: 36vh;
  border-color: #8092b3;
}

.background li:nth-child(19) {
  animation-delay: 38s;
  left: 36vw;
  top: 88vh;
}

.background li:nth-child(20) {
  animation-delay: 40s;
  left: 97vw;
  top: 66vh;
}

.background li:nth-child(21) {
  animation-delay: 42s;
  left: 57vw;
  top: 5vh;
  border-color: #8092b3;
}

.background li:nth-child(22) {
  animation-delay: 44s;
  left: 11vw;
  top: 58vh;
}

.background li:nth-child(23) {
  animation-delay: 46s;
  left: 15vw;
  top: 61vh;
  border-color: #8092b3;
}

.background li:nth-child(24) {
  animation-delay: 48s;
  left: 82vw;
  top: 74vh;
}

.background li:nth-child(25) {
  animation-delay: 50s;
  left: 1vw;
  top: 53vh;
  border-color: #8092b3;
}

.background li:nth-child(26) {
  animation-delay: 52s;
  left: 94vw;
  top: 13vh;
  border-color: #8092b3;
}

.background li:nth-child(27) {
  animation-delay: 54s;
  left: 90vw;
  top: 71vh;
  border-color: #8092b3;
}

.background li:nth-child(28) {
  animation-delay: 56s;
  left: 72vw;
  top: 52vh;
  border-color: #8092b3;
}

.background li:nth-child(29) {
  animation-delay: 58s;
  left: 73vw;
  top: 33vh;
  border-color: #8092b3;
}

.background li:nth-child(30) {
  animation-delay: 60s;
  left: 69vw;
  top: 32vh;
  border-color: #8092b3;
}

.background li:nth-child(31) {
  animation-delay: 62s;
  left: 64vw;
  top: 92vh;
  border-color: #8092b3;
}

.background li:nth-child(32) {
  animation-delay: 64s;
  left: 96vw;
  top: 99vh;
}

.background li:nth-child(33) {
  animation-delay: 66s;
  left: 85vw;
  top: 40vh;
}

.background li:nth-child(34) {
  animation-delay: 68s;
  left: 22vw;
  top: 94vh;
  border-color: #8092b3;
}

.background li:nth-child(35) {
  animation-delay: 70s;
  left: 56vw;
  top: 45vh;
}

.background li:nth-child(36) {
  animation-delay: 72s;
  left: 3vw;
  top: 2vh;
}

.background li:nth-child(37) {
  animation-delay: 74s;
  left: 47vw;
  top: 3vh;
  border-color: #8092b3;
}

.background li:nth-child(38) {
  animation-delay: 76s;
  left: 41vw;
  top: 29vh;
  border-color: #8092b3;
}

.background li:nth-child(39) {
  animation-delay: 78s;
  left: 7vw;
  top: 63vh;
  border-color: #8092b3;
}
