body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #ccc;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#userPic {
  border: none;
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
}

#mainLogo {
  width: 5%;
  border: none;
  border-radius: 100%;
}

#top-panel {
  position: fixed;
  left: 0;
  width: 98%;
  background-color: #222;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  border-bottom: 1px solid #111;
}

#title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1%;
  width: 60%;
}

#search-box {
  width: 100%;
  height: 2.5vh;
  padding: 8px;
  border: 1px solid #111;
  border-radius: 30px 30px 30px 30px;
}

#main-container {
  display: flex;
  flex: 1;
}

#side-panel {
  position: fixed;
  left: 0;
  top: 60px;
  background-color: #111;
  color: #ccc;
  bottom: 0;
  right: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

#side-panel div {
  display: flex;
  flex-direction: column;
}

#searchEngine {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  gap: 10px;
  width: 40%;
}

#searchEngine img {
  width: 35px;
}

#content {
  flex: 1;
  padding: 20px;
  background-color: #444;
  border-radius: 5px;
}
/*
  #main-panel {
    position: fixed;
    right: 0;
    top: 8vh;
    width: 20%;
    height: 100%;
    background-color: #111;
    color: #ccc;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
  }*/

#side-panel div button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #222;
  color: #ccc;
  border: none;
  cursor: pointer;
}

#side-panel div button:hover {
  background-color: #444;
}

#title {
  font-size: 24px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
  margin: 10px 0;
}

#usernameBtn {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 35px;
  font-size: 18px;
}

#userPic {
  width: 20px;
  border: none;
}

#userPic:hover{
  cursor: pointer;
}

#userSettings{
  border: none;
  background-color: transparent;
}

#post-pannel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 60px;
  left: 20%;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: 1;
}

.post-boxes {
  position: relative;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px 30px;
  color: #fff;
  text-shadow: 0 0 1px #111;
  box-sizing: border-box;
  line-height: 2;
}

.likeButton:hover {
  filter: brightness(80%);
}

.like{
  display: flex;
  gap: 1%;
  transform: translateY(-15px);

}

.like img{
  width: 3%;
  height: 3%;
  
}

.commentBox{
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.commentHead{
  border: solid 1px rgba(255, 255, 255, 0.2);
}

.commentContent{
  margin-left: 20px;

}

.reply{
  border: none;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  
}

.inputComment{
  border: none;
  border-radius: 10px 0 0 10px;
  width: 80% !important;
  padding: 3px 3px;
}

.inputCommentButton{
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 3px 10px;
  background-color: #000;
  color: #fff;
  transition: .3s;
  cursor: pointer;
}

.inputCommentButton:hover{
  color: #000;
  background-color: #fff;
}

.postDate{
  font-size: 2vh;
}

.usernamePost{
  font-size: 2.4vh;
}

#userSettingsBox{
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 20%;
  right: 20%;
  width: 60%;
  height: 60%;
  z-index: 999;
}

#userPicSettings{
  top: 20%;
  right: 20%;
  width: 100px;

}

#close{
  float: right;
}