body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

canvas {
    border: 1px solid white;
    background-color: #000;
}

#gameOverScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border: 1px solid #fff;
    text-align: center;
}

#newGameButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 100;
}

#scoreBoard {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
}

#bestScoreBoard {
    position: absolute;
    top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
}
